# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados
# Descomente e configure conforme sua preferência

# postgres -- ADICIONE NO ARQUIVO .env
# DB_DIALECT=postgres 
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=thayane
# DB_PASS=123456
# DB_NAME=studyhub
# PORT=3000

# PostgreSQL
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=studyhub_db
# DB_USER=seu_usuario
# DB_PASSWORD=sua_senha
# DB_DIALECT=postgres

# MySQL
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=studyhub_db
# DB_USER=seu_usuario
# DB_PASSWORD=sua_senha
# DB_DIALECT=mysql

# Outras Configurações
# JWT_SECRET=sua_chave_secreta_jwt
# UPLOAD_PATH=./uploads